body {
    background-color: #ffe5e5;
}

h1 {
    padding-left: 15px;
    font-family: Arvo;
}

h2 {
	margin-top: 10px;
	text-align: center;
    font-family: Arvo;
}

a {
    color: white;
}
    
div.main {
	position: relative;
	height: 100%;
	width: 60%;
	margin: 0 auto;
}

div.centeredContainer {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0px;
}

div.centeredChild {
  background: #ff6666;
  color: white;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

div.header {
    background: #ff6666;
    color: white;
    float:left;
    min-width:100%;
    padding: 10px;
}

div.footer {
    background: #ff6666;
    float:left;
    min-width:100%;
    position: fixed;
    bottom: 0;
}

span.variable_name {
    color: #ffe5e5;
    font-weight: bold;
    text-transform: capitalize;
}

div.variable{
    margin-bottom: 10px;
}

div.body{
    padding-left: 15px;
    margin-bottom: 40px;
}

#menu{
    color: #ffe5e5;
}

p.centered {
	text-align: center;
}

p.centeredYellow {
	text-align: center;
	color: yellow;
}

form.centered{
	color: black;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 20px;
}

p.footer {
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    padding-left: 15px;
    color: white;
}